pip==18.1
bumpversion==0.5.3
wheel==0.38.1
watchdog==0.9.0
flake8==3.5.0
tox==3.5.2
coverage==4.5.1
Sphinx==1.8.1
sphinx_rtd_theme==0.4.2
twine==1.12.1
pytest==3.9.1
pytest-runner==4.2
pytest-cov==2.6.0
codecov==2.0.16
mypy==0.641
setuptools==40.4.3
tox-pyenv==1.1.0
